<div class="componente-final2">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <a [routerLink]="['/chat']">
      <ion-tab-button tab="chat">

        <ion-img class="img" src="assets/img/chat.png" alt="Imagem"></ion-img>


      </ion-tab-button>
    </a>
      <a [routerLink]="['/buscar']">
      <ion-tab-button tab="buscar">

        <ion-img class="img" src="assets/img/buscar.png" alt="Imagem"></ion-img>
      </ion-tab-button>
    </a>


    <a [routerLink]="['/lembrete']">
      <ion-tab-button tab="agenda">
        <ion-img class="img" src="assets/img/agenda.png" alt="Imagem"></ion-img>


      </ion-tab-button>
    </a>

    <a [routerLink]="['/perfil']">
      <ion-tab-button tab="perfil">
        <ion-img class="img" src="assets/img/perfil.png" alt="Imagem"></ion-img>


      </ion-tab-button>
    </a>

    </ion-tab-bar>

  </ion-tabs>
<div>
