.alert-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom-alert {
  border-radius: 20px; /* Isso define a forma arredondada do alerta. Ajuste conforme necessário. */
  /* Adicione outros estilos personalizados conforme necessário. */
}
