<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registercuidador</ion-title>
    </ion-toolbar>
  </ion-header>

  <a [routerLink]="['/iam']" class="router" style="font-size: 24px;" >
    <ion-fab slot="fixed" vertical="end" horizontal="start">
      <ion-fab-button size="small" >
        <ion-icon name="arrow-back"></ion-icon>

      </ion-fab-button>

    </ion-fab>
  </a>

  <ion-row class="ion-justify-content-center">
    <div class="image-container">
      <img src="assets/img/logo2.png" alt="logo" class="logo">
    </div>
    </ion-row>

    <ion-row class="ion-justify-content-center">

      <p class="register" shape="round" fill="outline">Registro Cuidadorr</p>

      <ion-input class="certificado" label="Certificado" label-placement="floating" shape="round" fill="outline" type="text" placeholder="Certificado"></ion-input>

      <ion-input class="disponibilidade" label="Disponibilidade" label-placement="floating" shape="round" fill="outline" type="text" placeholder="Disponibilidade"></ion-input>

      <ion-input class="salario" label="Salario" label-placement="floating" shape="round" fill="outline" type="text" placeholder="Salario"></ion-input>

      <ion-input class="senha" label="Senha" label-placement="floating" shape="round" fill="outline" type="password" placeholder="Senha"></ion-input>


      </ion-row>

      <ion-row class="ion-justify-content-center">
        <a [routerLink]="['/cep']">
      <ion-button class="finalizar" >Finalizar</ion-button>
    </a>
      </ion-row>

</ion-content>
