<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">contrato</ion-title>
    </ion-toolbar>
  </ion-header>

  <a [routerLink]="['/detalhechat']" class="router" style="font-size: 24px;" >
    <ion-fab slot="fixed" vertical="end" horizontal="start">
      <ion-fab-button size="small" >
        <ion-icon name="arrow-back"></ion-icon>

      </ion-fab-button>

    </ion-fab>
  </a>

  <ion-row class="ion-justify-content-center">
    <div class="image-container">
      <img src="assets/img/logo2.png" alt="logo" class="logo">
    </div>
    </ion-row>
    <ion-item-divider class="divider"></ion-item-divider>

<p id="contrato">


  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Contrato de Prestação de Serviços de Cuidador de Idoso
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Partes Contratantes:</h2>

      <h3>Contratante (Idoso):</h3>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Nome:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">CPF:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Endereço:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Telefone:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Email:</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-list>

      <h3>Contratado (Cuidador):</h3>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Nome:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">CPF:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Endereço:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Telefone:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Email:</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-list>

      <h2>1-Objeto do Contrato:</h2>
      <p>
        O presente contrato tem como objeto a prestação de serviços de cuidador de idoso, em que o Contratado se compromete a oferecer assistência e cuidados ao Contratante, visando o seu bem-estar e qualidade de vida.
      </p>

      <h2>2-Deveres do Cuidador:</h2>
      <p>
        O Contratado se compromete a desempenhar as seguintes atividades e responsabilidades:
      </p>
      <ol type="a">
        <li>Auxiliar nas atividades diárias do Contratante, como higiene pessoal, alimentação, medicação e mobilidade;</li>
        <li>Proporcionar companhia e interação social ao Contratante;</li>
        <li>Manter o ambiente seguro e limpo, adequado às necessidades do Contratante;</li>
        <li>Realizar atividades de entretenimento e estimulação cognitiva, conforme orientações do Contratante ou familiares;</li>
        <li>Informar imediatamente ao Contratante ou aos familiares sobre qualquer mudança no estado de saúde ou comportamento do Contratante;</li>
        <li>Respeitar a privacidade, autonomia e dignidade do Contratante.</li>
      </ol>
      <h3>3-Deveres do Idoso: O Contratante se compromete a:</h3>
      <li>Fornecer informações precisas sobre suas necessidades de cuidados, rotina diária, preferências e restrições alimentares e médicas; </li>
      <li>Manter uma comunicação aberta e franca com o Cuidador; </li>
      <li>Respeitar o Cuidador e sua atuação;</li>
      <li>Pagar o valor acordado pelos serviços prestados, conforme estipulado na cláusula4.</li>

      <h4>4-Remuneração: Pelo serviço prestado, o Contratante pagará ao Cuidador a quantia de [Valor da Remuneração] por [Período de Pagamento, por exemplo, semana ou mês], totalizando um valor de [Valor Total do Contrato]. </h4>
      <li>O pagamento será realizado [forma de pagamento, por exemplo, mensalmente, no final de cada semana] e deverá ser efetuado por [forma de pagamento, por exemplo, transferência bancária, cheque].</li>
      <h5>5-Duração do Contrato: O presente contrato terá início em [Data de Início] e vigorará por prazo indeterminado. </h5>
      <li>Ambas as partes têm o direito de rescindir o contrato a qualquer momento, mediante aviso prévio por escrito de [Número de Dias de Aviso Prévio] dias.</li>
      <h6>6-Confidencialidade: As partes se comprometem a manter todas as informações pessoais e confidenciais trocadas durante a vigência deste contrato em sigilo</h6>
      <h6>7-Disposições Gerais: Quaisquer modificações ou aditamentos a este contrato devem ser realizados por escrito e assinados por ambas as partes.</h6>
      <li>As partes declaram estar de acordo com os termos e condições estabelecidos neste contrato, e o assinam em duas vias de igual teor, na presença de duas testemunhas.
        Local e data:</li>


    </ion-card-content>
  </ion-card>

 <app-alert></app-alert>
</ion-content>
