ion-fab-button::part(native) {
  background-color: #75A975;

}

.image-container{


  width: 190px;
  height: 66px;
  flex-shrink: 0;
  margin-top: 5%;
}

.finalizar{

  width: 167px;
  height: 40px;
margin-top: 40px;

}
