.chat-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.message {
  max-width: 70%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
}

.user-message {
  background-color: #3498db;
  color: #fff;
  align-self: flex-end;
}

.bot-message {
  background-color: #e0e0e0;
  align-self: flex-start;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.profile-info {
  flex: 1;
}

.profile-info h2 {
  margin: 0;
  font-size: 18px;
  margin-left: 25%;
}

.profile-info p {
  margin: 0;
  font-size: 14px;
  color:#696969;
  margin-left: 25%;
}

.profile-image ion-avatar {
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
}
ion-fab-button::part(native) {
  background-color: #75A975;

}
