ion-fab-button::part(native) {
  background-color: #75A975;

}
#chat {
  color: #75A975;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.chat
{
border-radius: 10px

}

ion-fab-button::part(native) {
  background-color: #75A975;

}
