<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">buscar</ion-title>
    </ion-toolbar>
  </ion-header>

  <a [routerLink]="['/principal']" class="router" style="font-size: 24px;" >
    <ion-fab slot="fixed" vertical="top" horizontal="start">
      <ion-fab-button size="small">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </a>

  <p id="chat">Buscar</p>
<div class="chat">
  <ion-searchbar [(ngModel)]="termoDeBusca" (ionChange)="buscarItems()"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let item of resultados">
      {{ item }}
    </ion-item>
  </ion-list>

  <ion-item-divider class="divider"></ion-item-divider>
</div>

<app-folder2></app-folder2>
</ion-content>
