.componente-retangular {
  width: auto;
  height: 435px;
  flex-shrink: 0;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-radius: 50px;
  background: #FFF;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-top: 70%;
  position:relative;
}
